body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header .contenedor {
    display: flex;
    justify-content: space-around;
}

header ul {
    display: flex;
}

header .menu .contenedor p{
    color:beige;
}

header ul li {
    list-style: none;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header{
    background: url(../img/fondo.jpg);
}

header .menu .contenedor img{
    display: block;
    width: 55px;
    height: 70px;
    margin-right: 15px;
}